# ignore files
keys.py
keys.txt
assistants/keys.txt
assistants/keys.yaml
batch_to_exe.txt
interview.spec
hubert_base.pt
rmvpe.pt

#ignore filetype
*.spec
*.exe
*.pyc
*.wav
*.zip


# ignore folders
conversations/
older prompts/
__pycache__/
dist/
build/
venv/
.venv/
assistants/package/rvc/
assistants/package/output/
assistants/prompts/myprompts/